<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.toharifqi.instageram">

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.InstaGeram">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/GOOGLE_GEO_API_KEY" />

        <activity
            android:name=".storymap.StoryMapActivity"
            android:exported="false"
            android:screenOrientation="nosensor"
            android:label="@string/title_activity_story_map" />
        <activity
            android:name=".camera.CameraActivity"
            android:exported="false"
            android:screenOrientation="nosensor">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".register.RegisterActivity"
            android:exported="false"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".storydetail.StoryDetailActivity"
            android:exported="false"
            android:screenOrientation="nosensor">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".storylist.StoryListActivity" />
        </activity>
        <activity
            android:name=".createstory.CreateStoryActivity"
            android:exported="false"
            android:screenOrientation="nosensor">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".storylist.StoryListActivity" />
        </activity>
        <activity
            android:name=".storylist.StoryListActivity"
            android:exported="false"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".login.LoginActivity"
            android:exported="true"
            android:screenOrientation="nosensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>